<div class="container question-index">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="subheader">
        <h3 class="text-center">Top Questions</h3>
        <%= link_to 'Ask Question', new_question_path, class:"btn btn-primary btn-sm" %>
      </div>
      <table class="table questions-list">
        <tbody>
          <% @questions.each do |question| %>
            <tr>
              <td class="metric">
                <span class="metric-value"><%= question.votes.count %></span>
                <span class="metric-label">votes</span>
              </td>
              <td class="metric">
                <span class="metric-value"><%= question.answers.count %></span>
                <span class="metric-label">answers</span>
              </td>
              <td class="question-info">
                <span class="question-title"><%= link_to truncate(question.title.humanize, length: 150), question %></span>
                <span class="question-details"><%= link_to "#{question.user.email.split('@')[0]}, hace #{time_ago_in_words(question.created_at)}" , question %></span>
              </td>
              <td>
                <% if user_signed_in? && current_user.id == User.find(question.user_id).id  %>
                  <div class="icons">
                    <h3 class="panel-title-right"><%= link_to "", edit_question_path(question), class: 'fa fa-pencil-square-o' %></h3>
                    <h3 class="panel-title-right"><%= link_to "", question_path(question), class: 'fa fa-trash', method: :delete, data: { confirm: 'Are you sure?' }  %></h3>
                  </div>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
