<% content_for :head do %>
  <meta property="fb:app_id"             content=212950962480498>
  <meta property="og:url"                content=<%="http://flow-overstack.herokuapp.com" + question_path(@question) %> />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="<%= @question.title %>" />
  <meta property="og:description"        content="<%= @question.content.first(255) %>" />
  <meta property="og:image"              content="http://i558.photobucket.com/albums/ss29/Jefferson_Bernal_Cardona/programador_zpsilox3uwn.jpg" />
<% end %>
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
$(document).ready(function (){
    // thinks to do on document load
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=212950962480498";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
});
</script>
<div class="container question-show">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12 col-sm-offset-1">
        <div class="subheader">
          <div class="question-header"><h2><%= @question.title.humanize %></h2></div>
          <%= link_to 'Ask Question', new_question_path, class:"btn btn-primary btn-sm" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1">
        <%= render 'votes/votes_panel', { votable: @question, path_up: question_votes_path(@question, liked: true), path_down: question_votes_path(@question, liked: false) } %>
      </div>
      <div class="col-sm-9">
        <div class="question-body">
          <%= markdown(@question.content) %>
        </div>
      </div>
      <div class="col-sm-2">
        <%= render 'info_panel', data: @question %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9 col-sm-offset-1">
        <%= render 'comments/add_comment', { path: [@question, Comment.new], commentable: @question } %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9 col-sm-offset-1">
        <div class="comment-list">
          <%= render 'comment_list', commentable: @question %>
        </div>
    </div>
  </div>
  <div class="col-sm-12">
    <h4 class="text-center"><%="#{@question.answers.size} Respuesta(s)" %></h4>
      <div class="answers-list">
        <% @question.answers.each do |answer| %>
          <div class="answer">
            <div class="row">
              <div class="col-sm-1">
                <%= render 'votes/votes_panel', { votable: answer, path_up: question_answer_votes_path(@question, answer, liked: true), path_down: question_answer_votes_path(@question, answer, liked: false) } %>
              </div>
              <div class="col-sm-9">
                <%= render 'answers/answer', answer: answer %>
              </div>
              <div class="col-sm-2">
                <%= render 'info_panel', data: answer %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-9 col-sm-offset-1">
                <% if user_signed_in? %>
                  <%= render 'comments/add_comment', { path: [@question, answer, Comment.new], commentable: answer } %>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-9 col-sm-offset-1">
                <div class="comment-list">
                  <%= render 'comment_list', commentable: answer %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-sm-9 col-sm-offset-1">
        <div class="row">
          <% if user_signed_in? %>
            <%= render 'answers/form', answer: @question.answers.build%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
