<% content_for :head do %>
  <meta property="fb:app_id"             content="212950962480498">
  <meta property="og:url"                content="<%= "http://localhost:3000" + question_path(@question) %>" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="<%= @question.title %>" />
  <meta property="og:description"        content="<%= @question.content.first(255) %>" />
  <meta property="og:image"              content="https://www.google.com.co/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwiijJSjz9TQAhXF5iYKHcRFCcgQjRwIBw&url=http%3A%2F%2Fwww.worcester.ac.uk%2Fcourses%2Fweb-development-bsc-hons.html&psig=AFQjCNG9RbG8mvMUonJbrxh6yV_kIqECmw&ust=1480737506713504" />

<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="question-show">
          <div class="panel-votes">
            <h3>
              <%= form_for(@vote) do |f| %>
                <%= hidden_field_tag "vote[amount]", true %>
                <%= hidden_field_tag "vote[votable_id]", @question.id %>
                <%= hidden_field_tag "vote[votable_type]", "Question" %>
                <%= hidden_field_tag "question_id", @question.id %>
                <% if user_signed_in? %>
                  <%= hidden_field_tag "vote[user_id]", current_user.id %>
                <% end %>
                <%= button_tag type: 'submit', class: "fa fa-plus" do %>
                <% end %>
              <% end %>
            </h3>
            <% if (user_signed_in? && Vote.already_vote?(current_user.id, @question.id,"Question")) %>
              <h3 class= <%= @question.votes.where(:amount => true).count - @question.votes.where(:amount => false).count >= 0 ? 'success' : 'danger'; %>><%=@question.votes.where(:amount => true).count - @question.votes.where(:amount => false).count %></h3>
            <% else %>
              <h3><%=@question.votes.where(:amount => true).count - @question.votes.where(:amount => false).count %></h3>
            <% end %>
            <h3>
              <%= form_for(@vote) do |f| %>
                <%= hidden_field_tag "vote[amount]", false %>
                <%= hidden_field_tag "vote[votable_id]", @question.id %>
                <%= hidden_field_tag "vote[votable_type]", "Question" %>
                <%= hidden_field_tag "question_id", @question.id %>
                <% if user_signed_in? %>
                  <%= hidden_field_tag "vote[user_id]", current_user.id %>
                <% end %>
                <%= button_tag type: 'submit', class: "fa fa-minus" do %>
                <% end %>
              <% end %>
            </h3>
          </div>
          <div class="question-panel">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><%= @question.title %><i class="" aria-hidden="true"></i></h3>
                <% if user_signed_in? && current_user.id == User.find(@question.user_id).id  %>
                  <h3 class="panel-title-right"><%= link_to "", edit_question_path(@question), class: 'fa fa-pencil-square-o' %></h3>
                  <h3 class="panel-title-right"><%= link_to '', question_path(question_id: @question.id), class: 'fa fa-trash', method: :delete, data: { confirm: 'Are you sure?' }  %></h3>
                <% end %>
              </div>
              <div class="panel-body">
              <p class="question-content"><%= @question.content %></p>
              <%= social_share_button_tag(@question.title, :url => "http://localhost:3000#{question_path(@question)}", :image => "https://www.google.com.co/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwiijJSjz9TQAhXF5iYKHcRFCcgQjRwIBw&url=http%3A%2F%2Fwww.worcester.ac.uk%2Fcourses%2Fweb-development-bsc-hons.html&psig=AFQjCNG9RbG8mvMUonJbrxh6yV_kIqECmw&ust=1480737506713504",desc: "@question.content.first(255)", :popup => "true") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="comment_section">
          <% if user_signed_in? %>
            <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Add Coment</a>
            <br><br>
            <div class="collapse" id="collapseExample">
              <div class="well">
                <%= form_for(@comment) do |f| %>
                  <div class="form-group">
                    <%= f.text_area :content, class:"form-control" %>
                  </div>
                  <%= hidden_field_tag "comment[commentable_id]", @question.id %>
                  <%= hidden_field_tag "comment[commentable_type]", "Question" %>
                  <%= hidden_field_tag "question_id",@question.id %>
                  <%= hidden_field_tag "comment[user_id]", current_user.id %>
                  <div class="actions">
                    <%= f.submit 'Coment', class: "btn btn-success" %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
          <% @comments.each do |comment| %>
            <div class="panel panel-default">
              <div class="comment">
                <p><%= "#{User.find(comment.user_id).email.split('@')[0]}, hace #{time_ago_in_words(comment.created_at)}" %></p>
                <% if user_signed_in? && current_user.id == User.find(comment.user_id).id  %>
                <h3 class="panel-title-right"><%= link_to '', comment_path(question_id: @question.id, id: comment.id), class: 'fa fa-trash', method: :delete, data: { confirm: 'Are you sure?' }  %></h3>
                <% end %>
              </div>
              <div class="panel-body">
                <p class="content"><%= comment.content %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h4 class="text-center"><%="#{@question.answers.size} Respuesta(s)" %></h4>
        <% if user_signed_in? %>
          <div class="panel-title-right">
            <%= link_to 'Crear Respuesta', new_answer_path(question_id: @question.id) %>
          </div>
        <% end %>
      </div>
    </div>
    <% @answers.each do |answer| %>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="question-show">
            <div class="panel-votes">
              <h3>
                <%= form_for(@vote) do |f| %>
                <%= hidden_field_tag "vote[amount]", true %>
                <%= hidden_field_tag "vote[votable_id]", answer.id %>
                <%= hidden_field_tag "vote[votable_type]", "Answer" %>
                <%= hidden_field_tag "question_id", @question.id %>
                <% if user_signed_in? %>
                  <%= hidden_field_tag "vote[user_id]", current_user.id %>
                <% end %>
                <%= button_tag type: 'submit', class: "fa fa-plus" do %>
                <% end %>
                <% end %>
              </h3>
              <% if (user_signed_in? && Vote.already_vote?(current_user.id, answer.id,"Answer")) %>
                <h3 class= <%= answer.votes.where(:amount => true).count - answer.votes.where(:amount => false).count >= 0 ? 'success' : 'danger'; %>><%=answer.votes.where(:amount => true).count - answer.votes.where(:amount => false).count %></h3>
              <% else %>
                <h3><%=answer.votes.where(:amount => true).count - answer.votes.where(:amount => false).count %></h3>
              <% end %>
              <h3>
                <%= form_for(@vote) do |f| %>
                <%= hidden_field_tag "vote[amount]", false %>
                <%= hidden_field_tag "vote[votable_id]", answer.id %>
                <%= hidden_field_tag "vote[votable_type]", "Answer" %>
                <%= hidden_field_tag "question_id", @question.id %>
                <% if user_signed_in? %>
                  <%= hidden_field_tag "vote[user_id]", current_user.id %>
                <% end %>
                <%= button_tag type: 'submit', class: "fa fa-minus" do %>
                <% end %>
                <% end %>
              </h3>
            </div>
            <div class="question-panel">
              <div class="panel panel-default">
                <div class="comment">
                  <p><%="#{User.find(answer.user_id).email.split('@')[0]}, hace #{time_ago_in_words(answer.created_at)}"%></p>
                  <% if user_signed_in? && current_user.id == User.find(answer.user_id).id  %>
                    <h3 class="panel-title-right"><%= link_to '', edit_answer_path(id: answer.id,question_id: @question.id), class:'fa fa-pencil-square-o' %></h3>
                    <h3 class="panel-title-right"><%= link_to '', answer_path(question_id: @question.id, id: answer.id), class:'fa fa-trash', method: :delete, data: { confirm: 'Are you sure?' }  %></h3>
                  <% end %>
                </div>
                <div class="panel-body">
                  <p class="question-content"><%= answer.content %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <% if user_signed_in? %>
            <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample<%= answer.id %>" aria-expanded="false" aria-controls="collapseExample<%= answer.id %>">Add Coment</a>
            <br><br>
            <div class="collapse" id="collapseExample<%= answer.id %>">
              <div class="well">
                <%= form_for(@comment) do |f| %>
                <div class="form-group">
                  <%= f.text_area :content, class:"form-control" %>
                </div>
                <%= hidden_field_tag "comment[commentable_id]", answer.id %>
                <%= hidden_field_tag "comment[commentable_type]", "Answer" %>
                <%= hidden_field_tag "question_id", @question.id %>
                <%= hidden_field_tag "comment[user_id]", current_user.id %>
                <div class="actions">
                  <%= f.submit 'Coment', class: "btn btn-success" %>
                </div>
                <% end %>
              </div>
            </div>
          <% end %>
          <% answer.comments.each do |comment| %>
          <div class="panel panel-default">
            <div class="comment">
              <p><%= "#{User.find(comment.user_id).email.split('@')[0]}, hace #{time_ago_in_words(comment.created_at)}" %></p>
              <% if user_signed_in? && current_user.id == User.find(comment.user_id).id  %>
                <h3 class="panel-title-right"><%= link_to '', comment_path(question_id: @question.id, id: comment.id), class:'fa fa-trash', method: :delete, data: { confirm: 'Are you sure?' }  %></h3>
              <% end %>
            </div>
            <div class="panel-body">
              <p class="content"><%= comment.content %></p>
            </div>
          </div>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
